{% extends "base.html" %}
{% load staticfiles %}
{% block metadiscription %}
  About Made by Loni
{% endblock %}
{% block title %}
  About Made by Loni
{% endblock %}
{% block content %}
  <br>
  <br>
  <div class="about text-center">
    <h2>About us</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="lonneke"></div>
    </div>
    <div class="col-sm-12 col-md-6 text text-center">
      <br>
      <br>
      <p>Made by Loni is a brand founded by Lonneke Machielsen in 2018 in Rotterdam. Fashion has been a true inspiration for Lonneke, since her whole life. As her spendings on fashion increased she decided to reduce her spenings every month by making fashion by herself. What started by making bracelets has nowadays transformed into an online shop, where women can not only bracelets but also porsch dresses made by the best designers of the world. </p>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

{% endblock %}
